.status{
    cursor: pointer;
}
.contact{
    font-weight:normal;
    padding-right: 50px;
    padding-bottom: 5px;
}
.tittle{
    padding-right: 50px;
}
.add-icon{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 25px;
}
